@import "../variables";

.countries {
  width: 100%;
  max-width: 1500px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 42px;

  &__head {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 50px;

    .title {
      color: #161616;
      font-size: 45px;
      font-weight: 300;
      line-height: 144.444%;
      width: fit-content;

      span {
        color: #297FCA;
      }
    }

    .see-all {
      margin-left: auto;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    gap: 18px;
    align-items: center;
  }

  &__item {
    max-width: calc(calc(100% - 86px) / 6);
    overflow: hidden;
    width: 236px;
    height: 112px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 6.3350701332092285px 19.005210876464844px 0 rgba(0, 0, 0, 0.06);
    background: linear-gradient(120deg, #001A31 0%, #173A58 100%);

    &:hover {
      img{
        opacity: 0;
      }
    }

    &:after{
      content: "";
      position: absolute;
      left: 5px;
      top: 5px;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      border-radius: 20px;
      border: 1px solid  rgba(255, 255, 255, 0.15);
      pointer-events: none;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 100%;
      width: 100%;

      p {
        text-align: center;
        font-size: 19px;
        font-weight: 300;
        line-height: 25px;
        color: #fff;
        position: relative;
        z-index: 1;
      }

      img{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 1;
        transition: opacity 0.3s;
      }
    }
  }
  
  @media screen and (max-width: $screen-xlg - 1) {
    &__head {
      gap: 12px;
    }

    &__list {
      gap: 10px;
    }

    &__item {
      width: calc(calc(100% - 60px) / 6);
    }
  }

  @media screen and (max-width: $screen-lg - 1) {
    padding: 0 42px;
    gap: 36px;

    &__head {
      align-items: flex-end;

      .title {
        max-width: 440px;
        font-size: 36px;
      }
    }

    .hover-cursor {
      display: none;
    }

    &__list {
      gap: 15px 20px;
      flex-wrap: wrap;
    }

    &__item {
      width: calc(calc(100% - 40px) / 3);
      max-width: unset;
    }
  }

  @media screen and (max-width: $screen-smd - 1) {
    padding: 0 15px;
    gap: 30px;

    &__head {
      flex-direction: column;
      align-items: center;
      
      .title {
        gap: 22px;
        text-align: center;
        font-size: 23px;
      }

      .see-all {
        margin: 0;
      }
    }

    &__list {
      gap: 10px;
    }

    &__item {
      width: calc((100% - 20px) / 2);
    }
  }
}
