.objects{
  width: 100%;
  max-width: 1500px;
  padding-top: 76px;
  padding-bottom: 72px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    a {
      display: inline-block;
      position: relative;
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;

      &:hover{
        &:after{
          width: calc(100% + 38px);
          left: -19px;
        }
      }

      &:after{
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        height: 1px;
        width: 100%;
        background: rgba(0, 26, 49, 0.40);
        transition: width 0.3s, left 0.3s;
      }
    }
  }

  &__tabset > input[type="radio"] {
    opacity: 0;
    pointer-events: none;
    position: absolute;
  }

  &__tab-panel {
    display: none;
  }

  &__tabset > input:first-child:checked ~ &__tab-panels > &__tab-panel:first-child,
  &__tabset > input:nth-child(3):checked ~ &__tab-panels > &__tab-panel:nth-child(2),
  &__tabset > input:nth-child(5):checked ~ &__tab-panels > &__tab-panel:nth-child(3),
  &__tabset > input:nth-child(7):checked ~ &__tab-panels > &__tab-panel:nth-child(4),
  &__tabset > input:nth-child(9):checked ~ &__tab-panels > &__tab-panel:nth-child(5),
  &__tabset > input:nth-child(11):checked ~ &__tab-panels > &__tab-panel:nth-child(6) {
    display: flex;
    flex-wrap: wrap;
  }

  &__tabset label{
    color: rgba(0, 0, 0, 0.50);
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    padding: 21px 40px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid  rgba(0, 0, 0, 0.15);
    transition: background 0.3s;
    margin-right: 15px;
    margin-bottom: 15px;

    &:hover{
      background: linear-gradient(120deg, #001A31 0%, #173A58 100%);
      color: #fff;
    }

    &:last-of-type{
      margin-right: 0;
    }
  }

  &__tabset > input:checked + label{
    background: linear-gradient(120deg, #001A31 0%, #173A58 100%);
    font-weight: 500;
    color: #fff;
  }

  &__tab-panels{
    margin-top: 40px;
  }

  &__item {
    padding: 15px;
    flex: 0 0 25%;
    position: relative;

    &:before{
      content: "";
      position: absolute;
      left: 5px;
      top: 5px;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.20);
      border-radius: 40px;
      opacity: 0;
      transition: opacity 0.3s;
    }

    &:hover{
      a{
        &>img{
          transform: scale(1.1);
        }
      }

      &:before{
        opacity: 1;
      }
    }


    a{
      position: relative;
      border-radius: 35px;
      box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.06);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      height: 455px;
      padding: 35px 0;

      &:before{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50%;
        background: linear-gradient(0deg, #161616 0%, rgba(22, 22, 22, 0.00) 100%);
      }

      &>img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        transition: transform 0.3s;
      }
    }
  }

  &__tags{
    flex: 1 0 auto;
    margin: 0 30px;
    position: relative;
    z-index: 1;

    ul{
      display: flex;

      li{
        margin-right: 10px;
        color: #000;
        text-align: center;
        font-size: 10px;
        line-height: 16px;
        padding: 4px 10px;
        border-radius: 5px;
        background: #FFF;

        &:first-of-type{
          color: #FFF;
          background: var(--linear, linear-gradient(172deg, #A7FF92 0%, #5CB446 100%));
        }

        &:last-of-type{
          margin-right: 0;
        }
      }
    }
  }

  &__text {
    color: #fff;
    margin: 0 30px;
    position: relative;
    z-index: 1;

    h3{
      font-size: 35px;
      font-weight: 300;
      line-height: 45px;
    }
  }

  &__country {
    display: flex;
    align-items: center;
    margin-top: 5px;
    font-size: 10px;
    line-height: 18.506px;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;

    img{
      width: 14px;
      height: 10px;
      margin-right: 5px;
    }
  }

  &__price {
    position: relative;
    z-index: 1;
    padding: 10px 30px 0;
    font-weight: 700;
    line-height: 30px;
    width: 100%;
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.30);
  }
}
