/* Reset and base styles  */
* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
  text-decoration: none;
  color: inherit;
}

a:hover  {
  text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
  object-position: center;
  object-fit: contain;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}
/*/////////////////////////////////////*/

.wrapper {
  width: 100%;
  max-width: 1510px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hover-cursor {
  padding-left: 40px;
  position: relative;
  cursor: default;
  user-select: none;

  &:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'%3E%3Cg id='svg-gobbler (49) 1'%3E%3Cg id='Group'%3E%3Cpath id='Vector' d='M9.61868 8.41899C11.2119 10.0112 11.2129 12.5932 9.6205 14.1867C8.02851 15.7797 5.4465 15.7804 3.85326 14.1883C2.26026 12.5963 2.25925 10.0143 3.85124 8.42125C5.44369 6.82774 8.02568 6.82706 9.61868 8.41899Z' fill='%23DEA378'/%3E%3Cpath id='Vector_2' d='M8.35547 13.3159L9.21002 12.4608L10.6523 13.9022L9.79779 14.7573L8.35547 13.3159Z' fill='black'/%3E%3Cpath id='Vector_3' d='M20.6363 9.45129C20.1042 8.91954 19.2944 8.86726 18.7589 9.40313C18.2234 9.93897 18.0448 10.9803 18.5769 11.5121L18.1036 11.0391C17.5716 10.5074 16.5956 10.6207 16.0607 11.1559C15.5246 11.6924 15.4126 12.6677 15.9447 13.1995L15.2264 12.4816C14.7002 11.9558 13.7349 12.0672 13.1985 12.5846C13.1741 12.6065 13.1488 12.6288 13.1244 12.6532C12.5895 13.1884 12.4825 14.1587 13.0146 14.6905L9.35874 11.0371C8.82667 10.5054 7.88956 10.5798 7.35408 11.1156C6.81856 11.6515 6.76099 12.5723 7.2931 13.1041L14.6524 20.4585L13.0178 20.2426C12.1542 20.129 11.3565 20.7369 11.2366 21.6018C11.1168 22.4667 11.7196 23.2594 12.5845 23.373L20.2403 24.3837L21.0433 24.792C21.3356 24.9753 21.7273 24.9388 21.9832 24.6828L27.2187 19.4438C27.2187 19.4438 27.2187 19.4425 27.2193 19.4406C27.2237 19.4363 27.2287 19.4337 27.2331 19.4294C27.3495 19.3133 27.4251 19.1626 27.4487 19C27.4724 18.8373 27.4427 18.6714 27.3642 18.527C27.3617 18.522 27.3611 18.5176 27.3579 18.5132C23.0544 11.4236 20.6363 9.45129 20.6363 9.45129Z' fill='%23F5F7FA'/%3E%3Cpath id='Vector_4' d='M21.0428 9.00366C20.2621 8.24481 19.0766 8.22991 18.3308 8.97613C18.0243 9.28287 17.8042 9.70598 17.7073 10.1534C17.0095 9.97523 16.1882 10.173 15.6327 10.7289C15.3643 10.9974 15.1798 11.3273 15.0807 11.675C14.8063 11.5634 14.4981 11.5155 14.1723 11.5391C13.6539 11.5766 13.1496 11.7958 12.7867 12.1413C12.7611 12.1645 12.7301 12.1924 12.6963 12.2262C12.4686 12.4541 12.3006 12.7279 12.1953 13.0193L9.78454 10.6101C9.03055 9.85661 7.72138 9.89201 6.92565 10.6883C6.13865 11.4758 6.11092 12.7781 6.86495 13.5316L12.9679 19.6305C12.332 19.5832 11.7151 19.8124 11.2584 20.2694C10.9181 20.6099 10.7036 21.0425 10.638 21.5187C10.5569 22.0982 10.7073 22.6727 11.061 23.1362C11.4141 23.5992 11.9261 23.8956 12.505 23.9724L20.0575 24.9687L20.7485 25.3214C21.2849 25.6397 21.9645 25.5544 22.4093 25.1093L27.708 19.8071L27.7111 19.8015C28.0864 19.3808 28.1669 18.7606 27.9058 18.2594C27.8977 18.2426 27.8864 18.2213 27.872 18.1981C23.7426 11.3952 21.3257 9.24384 21.0428 9.00366ZM26.8253 18.8023C26.8283 18.8069 26.831 18.8117 26.8334 18.8167C26.8479 18.8445 26.8538 18.8759 26.8503 18.907C26.8469 18.9381 26.8343 18.9675 26.8141 18.9913C26.8072 18.9982 26.799 19.0051 26.7909 19.0132L26.6508 19.1535L26.6502 19.1553L21.5541 24.2548C21.4953 24.3136 21.4133 24.3118 21.362 24.2792L21.3401 24.2661L20.4213 23.7983L12.6623 22.7745C12.5364 22.7584 12.415 22.7173 12.3052 22.6538C12.1954 22.5902 12.0993 22.5054 12.0226 22.4043C11.8655 22.1985 11.7984 21.9425 11.834 21.6841C11.8637 21.4719 11.9619 21.2752 12.1136 21.1239C12.3331 20.9042 12.6335 20.8015 12.937 20.8407L16.339 21.2902L7.71954 12.6765C7.4388 12.3959 7.4677 11.8555 7.78049 11.5425C8.09579 11.227 8.65495 11.189 8.93068 11.4645L14.37 16.9003L14.3707 16.8996C14.3732 16.9021 14.3751 16.9053 14.3776 16.9078C14.613 17.143 14.9959 17.1429 15.2317 16.907C15.4676 16.6709 15.4668 16.2886 15.2314 16.0534L13.4404 14.2636C13.1697 13.993 13.2249 13.4062 13.5508 13.0801C13.5646 13.0663 13.5793 13.0535 13.5927 13.0419L13.6168 13.0197C13.9487 12.6994 14.5347 12.6445 14.7989 12.9085L16.5877 14.6962C16.8231 14.9314 17.2054 14.9319 17.4413 14.6959C17.6771 14.4599 17.677 14.0769 17.4416 13.8417C17.4391 13.8392 17.4359 13.8373 17.4334 13.8348L17.4341 13.8342L16.3711 12.7719C16.1007 12.5017 16.1578 11.9131 16.4875 11.5832C16.8103 11.2602 17.4101 11.2014 17.6755 11.4667L18.7384 12.5289L18.7391 12.5283C18.7416 12.5307 18.7434 12.5339 18.746 12.5364C18.9814 12.7717 19.3643 12.7715 19.6002 12.5355C19.836 12.2995 19.8359 11.9165 19.6005 11.6813C19.598 11.6788 19.5949 11.6769 19.5923 11.6744L19.593 11.6738L19.0033 11.0845C18.7479 10.8292 18.8434 10.1728 19.1856 9.83032C19.5053 9.51044 19.9415 9.6123 20.2082 9.8788L20.2282 9.89882L20.2526 9.91824C20.2765 9.93822 22.6633 11.9506 26.8253 18.8023Z' fill='%239D9D9D'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") center center/contain no-repeat;
  }

  p {
    color: #B4B4B4;
    font-size: 13px;
    font-weight: 300;
    line-height: 25px;

    span{
      color: #9D9D9D;
      font-size: 15px;
      font-weight: 600;
      line-height: 25px;
    }
  }
}

.see-all {
  color: #161616;
  font-size: 18px;
  font-weight: 500;
  line-height: 183.333%;
  white-space: nowrap;
  display: inline-block;
  position: relative;

  &:hover{
    &:after{
      width: calc(100% + 38px);
      left: -19px;
    }
  }

  &:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 1px;
    width: 100%;
    background: rgba(0, 26, 49, 0.40);
    transition: width 0.3s, left 0.3s;
  }
}
