
// Screens
$screen-xlg: 1600px;
$screen-lg: 1280px;
$screen-md: 960px;
$screen-smd: 768px;
$screen-sm: 600px;
$screen-xs: 480px;
$screen-xxs: 420px;
$screen-extras: 380px;

:root{
  --main-font-family: 'Manrope', sans-serif;

  --h1-font-size: 60px;
  --h2-font-size: 45px;
  --h3-font-size: 37px;
  --h4-font-size: 25px;
  --h5-font-size: 16px;

  --h1-line-height: 80px;
  --h2-line-height: 65px;
  --h3-line-height: 45px;
  --h4-line-height: 40px;
  --h5-line-height: 15px;

  --white-color: #fff;
  --gray-color: rgba(255, 255, 255, 0.3);

  --border-style: 1px solid;
  --border-color: rgba(255, 255, 255, 0.25);
  --border-radius: 5px;
}

body{
  font-family: var(--main-font-family);
}

h1{
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  font-weight: 200;
}

h2{
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  font-weight: 300;
}

h2.regular{
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  font-weight: 400;
}

h3{
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
  font-weight: 400;
}

h4{
  font-size: var(--h4-font-size);
  line-height: var(--h4-line-height);
  font-weight: 600;
}

h5{
  font-size: var(--h5-font-size);
  line-height: var(--h5-line-height);
  font-weight: 400;
}

.bodily {
  color: #DEA378;
}

h2 span{
  color: #297FCA;
}
