@import "../variables";

.index {
  width: 100%;

  .header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
  }

  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }

  .hero {
    width: 100%;
    max-width: 1820px;
    padding: 190px 60px 130px;
    display: flex;
    justify-content: center;
    gap: 50px;
    background: url("../../../assets/img/hero/hero.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0 0 30px 30px;
    overflow: hidden;
    margin-bottom: 100px;

    &__content {
      width: 100%;
      max-width: 1560px;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 50px;

      .top-content {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 24px;
      }

      .top-content .left-texts {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 68px;
      }

      .top-content .left-texts .title {
        color: #FFF;
        font-size: 60px;
        font-weight: 200;
        line-height: 133%;
        letter-spacing: 1px;
        max-width: 740px;

        span {
          color: #8CC1FF;
        }
      }

      .top-content .left-texts .subtitle {
        color: #DEA378;
        font-size: 30px;
        font-weight: 300;
        line-height: 166%;
        letter-spacing: 1px;
        position: relative;
        max-width: 290px;

        span {
          color: #FFF;
        }

        &::before {
          content: "/";
          position: absolute;
          left: -32px;
          top: -4px;
          color: #DEA378;
          font-size: 30px;
          font-weight: 300;
          line-height: 166%;
          letter-spacing: 1px;
        }
      }

      .top-content .advantages-list {
        min-width: 245px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 35px;

        .item {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 5px;
        }

        .item .name {
          color: #FFF;
          font-size: 35px;
          font-weight: 200;
          line-height: 157.143%;
          letter-spacing: -2px;
          position: relative;

          span {
            color: #DEA378;
          }

          &::before {
            content: "";
            width: 8px;
            height: 22px;
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="22" viewBox="0 0 8 22"><path d="M5.76 0.400391H7.56L1.8 22.0004H0L5.76 0.400391Z" fill="white" fill-opacity="0.15"/></svg>');
            position: absolute;
            top: 2px;
            left: -20px;
          }
        }

        .item .value {
          color: #FFF;
          font-size: 14px;
          font-weight: 300;
          line-height: 30px;
        }
      }

      .buttons-list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        .item {
          width: calc(calc(100% - 30px) / 4);

          button {
            width: 100%;
            color: #FFF;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 1px;
            border-radius: 5px;
            background: rgba(255, 255, 255, 0.10);
            backdrop-filter: blur(10px);
            height: 87px;
          }

          &--red {
            button {
              position: relative;
              z-index: 2;

              &::before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                z-index: -1;
                bottom: -5px;
                height: 100%;
                border-radius: 10px;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.10) 100%), linear-gradient(139deg, #B11026 0%, #8D0013 52.38%, #B11026 100%);
              }

              &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(180deg, rgba(255, 0, 0, 0.00) 0%, rgba(147, 0, 0, 0.70) 100%), linear-gradient(90deg, #E81E39 0%, #DA0F2A 0.01%, #FE2F4B 48.96%, #DA0F2A 100%);
                border-radius: 5px;
                z-index: -1;
              }
            }
          }
        }
      }
    }
  }

  .countries {
    margin-bottom: 150px;

    .wrapper {
      gap: 42px;
    }

    &__head {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 50px;

      .title {
        color: #161616;
        font-size: 45px;
        font-weight: 300;
        line-height: 144.444%;
        width: fit-content;

        span {
          color: #297FCA;
        }
      }

      .see-all {
        margin-left: auto;
      }
    }

    @media screen and (max-width: $screen-xlg - 1) {
      &__head {
        gap: 12px;
      }
    }

    @media screen and (max-width: $screen-lg - 1) {
      margin-bottom: 100px;

      .wrapper {
        padding: 0 42px;
        gap: 36px;
      }

      &__head {
        align-items: flex-end;

        .title {
          max-width: 440px;
          font-size: 36px;
        }
      }
    }

    @media screen and (max-width: $screen-smd - 1) {
      margin-bottom: 80px;

      .wrapper {
        padding: 0 15px;
        gap: 30px;
      }

      &__head {
        flex-direction: column;
        align-items: center;

        .title {
          gap: 22px;
          text-align: center;
          font-size: 23px;
        }

        .see-all {
          margin: 0;
        }
      }
    }
  }

  .objects {
    display: flex;
    justify-content: center;
    margin-bottom: 140px;
    padding: 0 42px;

    .wrapper {
      gap: 30px;
    }

    @media screen and (max-width: $screen-lg - 1) {
      margin-bottom: 100px;
    }

    @media screen and (max-width: $screen-smd - 1) {
      margin-right: -25px;
      width: calc(100% + 25px);
      margin-bottom: 80px;
      padding: 0 15px;
    }
  }

  @media screen and (max-width: $screen-lg - 1) {
    .hero {
      padding: 140px 42px 60px;
      margin-bottom: 75px;

      &__content {
        gap: 70px;

        .top-content {
          flex-direction: column;
          gap: 50px;
        }

        .top-content .left-texts {
          align-items: flex-start;
          gap: 50px;
        }

        .top-content .left-texts .title {
          font-size: 48px;
          max-width: 600px;
        }

        .top-content .left-texts .subtitle {
          margin-left: 30px;
          max-width: 330px;
          font-size: 24px;

          &::before {
            font-size: 24px;
          }
        }

        .top-content .advantages-list {
          width: 100%;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: stretch;
          gap: 40px 60px;
          margin-left: 24px;

          .item {
            min-width: 30%;
          }

          .item .name {
            font-size: 30px;

            &::before {
              font-size: 30px;
              left: -18px;
            }
          }
        }

        .buttons-list {
          flex-wrap: wrap;

          .item {
            width: calc(calc(100% - 10px) / 2);
          }
        }
      }
    }
  }
  
  @media screen and (max-width: $screen-smd - 1) {
    .hero {
      padding: 106px 20px 46px;

      &__content {
        gap: 30px;

        .top-content {
          gap: 20px;
        }

        .top-content .left-texts {
          gap: 22px;
        }

        .top-content .left-texts .title {
          font-size: 30px;
        }

        .top-content .left-texts .subtitle {
          margin-left: 16px;
          max-width: 243px;
          font-size: 16px;

          &::before {
            left: -14px;
            font-size: 16px;
          }
        }

        .top-content .advantages-list {
          width: 100%;
          flex-direction: row;
          flex-wrap: nowrap;
          gap: 40px;
          overflow: hidden;

          .item {
            min-width: unset;
          }

          .item .name {
            font-size: 24px;

            &::before {
              font-size: 24px;
              width: 7px;
              height: 16px;
            }
          }

          .item .value {
            font-size: 12px;
            white-space: nowrap;
          }
        }

        .buttons-list {
          flex-direction: column;
          gap: 10px;

          .item {
            width: 100%;
          }
        }
      }
    }
  }
}
